
@{
    ViewData["Title"] = "Add";
}
<body>
    <h1>Add your comments here</h1>
    <label for="comment">Type the comment here:</label>
    <input type="text" id="comment" name="comment">
    <button id="button">Post</button>
</body>

